@media (max-width: 575px) {
  /* ================= nav responsive start======================= */
  .navbar-nav {
    gap: 0px;
    padding-left: 20px;
  }
  /* ================= nav responsive start======================= */

  /* ================= banner responsive start======================= */

  #banner {
    padding: 150px 0px;
  }
  .banner_content {
    width: auto;
  }
  .banner_content h1 {
    font-size: 45px;
    line-height: 50px;
  }
  .banner_content p {
    font-size: 17px;
    width: auto;
    margin-top: 30px;
  }
  .banner_btn {
    flex-direction: column;
    margin-top: 50px;
  }
  .x_btn {
    text-align: center;
  }
  /* ================= banner responsive end======================= */

  /* ================= plan responsive start======================= */

  .popularity_main {
    padding-top: 46px;
    padding-bottom: 95px;
  }
  .popularity_items::after {
    width: 0px;
  }
  .popularity_items {
    margin-top: 50px;
  }
  .popularity_items h4 {
    margin-top: 30px;
  }
  /* ================= plan responsive end======================= */

  /* ================= plan responsive start======================= */
  .plan_title h2 {
    font-size: 31px;
  }
  .plan_items h3 {
    font-size: 44px !important;
  }
  .plan_items li {
    font-size: 15px;
  }
  .plan_items h3 {
    font-size: 22px;
  }
  .plan_items li {
    font-size: 14px;
  }
  /* ================= plan responsive end======================= */

  /* ================= impact responsive start======================= */
  .impact_left {
    flex-direction: column;
    text-align: center;
  }
  .impact_left_bottom {
    flex-direction: column;
    text-align: center;
  }
  .impact_title p {
    font-size: 17px;
    width: auto;
    margin-top: 25px;
  }
  .impact_title h2 {
    font-size: 40px;
  }
  .impact_left img {
    margin: auto;
  }
  .impact_left_bottom img {
    margin: auto;
  }
  .impact_right img {
    width: 400px;
    height: 400px;
    margin-top: 80px;
  }
  .impact_main {
    padding-top: 50px;
    padding-bottom: 10px;
  }

  /* ================= impact responsive end======================= */

  /* ================= we_do responsive start======================= */
  .we_do_items_first {
    text-align: center;
  }
  .we_do_items {
    margin-top: 50px;
  }
  .we_do_main {
    padding: 50px 0px;
  }
  /* ================= we_do responsive end======================= */

  /* ================= choose_us responsive start======================= */
  .choose_us_right {
    text-align: center;
    margin-top: 25px;
  }
  .choose_us_right p {
    width: auto;
  }
  /* ================= choose_us responsive end======================= */

  /* ================= blog responsive start======================= */
  .blog_items {
    flex-direction: column;
  }

  /* ================= blog responsive end======================= */
}
